<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="marvinM6_right">
  <mujoco>
    <compiler meshdir="./meshes/" balanceinertia="false" discardvisual="false" />
  </mujoco>
  <link name="base_link">
    <visual>
      <origin xyz="-0.30392 -0.30448 -2.0" rpy="0 0 0" />
      <geometry>
        <mesh filename="base.stl" scale="0.0008 0.0008 0.0008" />
      </geometry>
      <material name="base_grey">
        <color rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.30392 -0.30448 -2.0" rpy="0 0 0" />
      <geometry>
        <mesh filename="base.stl" scale="0.0008 0.0008 0.0008" />
      </geometry>
    </collision>
  </link>

  <!-- 左臂部分 -->
  <link
    name="Base_L">
    <inertial>
      <origin
        xyz="0.00032267 4.798E-05 0.04066353"
        rpy="0 0 0" />
      <mass
        value="1.1962" />
      <inertia
        ixx="0.00107329"
        ixy="-1.68E-06"
        ixz="-1.05E-05"
        iyy="0.00107003"
        iyz="-3.43E-06"
        izz="0.00127315" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Base_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Base_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_Base_L" type="fixed">
    <origin xyz="0 0.10 0" rpy="-1.57 1.57 0" />
    <parent link="base_link" />
    <child link="Base_L" />
  </joint>
  <link
    name="Link1_L"> 
    <inertial>
      <origin
        xyz="0.00002347 0.00557150 -0.03075998"
        rpy="0 0 0" />
      <mass
        value="1.9705" />
      <inertia
        ixx="0.00492293"
        ixy="0.00000550"
        ixz="0.00000193"
        iyy="0.00526513"
        iyz="0.00033232"
        izz="0.00188107" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link1_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link1_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1_L"
    type="fixed">
    <origin
      xyz="0 0 0.1745"
      rpy="0 0 0" />
    <parent
      link="Base_L" />
    <child
      link="Link1_L" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1067"
      upper="0"
      effort="108"
      velocity="3.1416" />
  </joint>
  <link
    name="Link2_L">
    <inertial>
      <origin
        xyz="0.00013483 0.06170460 0.00950639"
        rpy="0 0 0" />
      <mass
        value="2.24398" />
      <inertia
        ixx="0.01194933"
        ixy="0.00000336"
        ixz="0.00000091"
        iyy="0.00361581"
        iyz="-0.00132804"
        izz="0.01098356" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link2_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link2_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2_L"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="1.570796327 1.570796327 0" />
    <parent
      link="Link1_L" />
    <child
      link="Link2_L" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0.0"
      upper="3.6652"
      effort="108"
      velocity="3.1416" />
  </joint>
  <link
    name="Link3_L">
    <inertial>
      <origin
        xyz="0.00588308 0.00079656 -0.11435153"
        rpy="0 0 0" />
      <mass
        value="2.24598712" />
      <inertia
        ixx="0.02297472"
        ixy="0.00002807"
        ixz="0.00155392"
        iyy="0.02333711"
        iyz="0.00021547"
        izz="0.00260810" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link3_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link3_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3_L"
    type="fixed">
    <origin
      xyz="0 0.4 0"
      rpy="-1.570796327 -1.570796327 0" />
    <parent
      link="Link2_L" />
    <child
      link="Link3_L" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5359"
      upper="0.58"
      effort="66"
      velocity="3.1416" />
  </joint>
  <link
    name="Link4_L">
    <inertial>
      <origin
        xyz="0.00850411 -0.04718223 0.00941509"
        rpy="0 0 0" />
      <mass
        value="1.6085" />
      <inertia
        ixx="0.00580480"
        ixy="-0.00066669"
        ixz="-0.00012722"
        iyy="0.00223807"
        iyz="0.00070523"
        izz="0.00533060" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link4_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link4_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4_L"
    type="fixed">
    <origin
      xyz="0.018 0 0"
      rpy="-1.570796327 0 3.1416" />
    <parent
      link="Link3_L" />
    <child
      link="Link4_L" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.5307"
      upper="0.0"
      effort="66"
      velocity="3.1416" />
  </joint>
  <link
    name="Link5_L">
    <inertial>
      <origin
        xyz="-0.00051127 -0.00101064 -0.11271739"
        rpy="0 0 0" />
      <mass
        value="2.0883" />
      <inertia
        ixx="0.00626603"
        ixy="0.00004009"
        ixz="-0.00005338"
        iyy="0.00564387"
        iyz="0.00006193"
        izz="0.00243632" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link5_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link5_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint5_L"
    type="fixed">
    <origin
      xyz="0.018 -0.314 0"
      rpy="-1.570796327 0 3.1416" />
    <parent
      link="Link4_L" />
    <child
      link="Link5_L" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1067"
      upper="3.1067"
      effort="18"
      velocity="3.1416" />
  </joint>
  <link
    name="Link6_L">
    <inertial>
      <origin
        xyz="-0.00032659 0.00531336 0.00030182"
        rpy="0 0 0" />
      <mass
        value="0.72496" />
      <inertia
        ixx="0.00046040"
        ixy="-0.00000189"
        ixz="0.00000083"
        iyy="0.00051716"
        iyz="0.00000346"
        izz="0.00042521" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link6_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link6_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint6_L"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="1.570796327 -1.570796327 0" />
    <parent
      link="Link5_L" />
    <child
      link="Link6_L" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.0472"
      upper="1.0472"
      effort="18"
      velocity="3.1416" />
  </joint>
  <link
    name="Link7_L">
    <inertial>
      <origin
        xyz="-0.00009108 -0.03153255 0.00889371"
        rpy="0 0 0" />
      <mass
        value="0.68606" />
      <inertia
        ixx="0.00173687"
        ixy="-0.00000345"
        ixz="-0.00000116"
        iyy="0.00089035"
        iyz="0.00030680"
        izz="0.00139406" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link7_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link7_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint7_L"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="1.570796327 -1.570796327 0" />
    <parent
      link="Link6_L" />
    <child
      link="Link7_L" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.570796327"
      upper="1.570796327"
      effort="18"
      velocity="3.1416" />
  </joint>
  <link
    name="TCP_Link_L">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.01" />
      <inertia
        ixx="0.00001"
        ixy="0"
        ixz="0"
        iyy="0.00001"
        iyz="0"
        izz="0.00001" />
    </inertial>
  </link>
  <joint
    name="JointTCP_L"
    type="fixed">
    <origin
      xyz="0 -0.095 0"
      rpy="1.570796327 -1.570796327 0" />
    <parent
      link="Link7_L" />
    <child
      link="TCP_Link_L" />
    <axis
      xyz="0 0 0" />
  </joint>

  <!-- 右臂部分 -->
  <link
    name="Base_R">
    <inertial>
      <origin
        xyz="0.00032267 4.798E-05 0.04066353"
        rpy="0 0 0" />
      <mass
        value="1.1962" />
      <inertia
        ixx="0.00107329"
        ixy="-1.68E-06"
        ixz="-1.05E-05"
        iyy="0.00107003"
        iyz="-3.43E-06"
        izz="0.00127315" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Base_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Base_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_Base_R" type="fixed">
    <origin xyz="0 -0.10 0.0" rpy="1.57 1.57 0" />
    <parent link="base_link" />
    <child link="Base_R" />
  </joint>
  <link
    name="Link1_R">
    <inertial>
      <origin
        xyz="0.00002347 0.00557150 -0.03075998"
        rpy="0 0 0" />
      <mass
        value="1.9705" />
      <inertia
        ixx="0.00492293"
        ixy="0.00000550"
        ixz="0.00000193"
        iyy="0.00526513"
        iyz="0.00033232"
        izz="0.00188107" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link1_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link1_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1_R"
    type="revolute">
    <origin
      xyz="0 0 0.1745"
      rpy="0 0 0" />
    <parent
      link="Base_R" />
    <child
      link="Link1_R" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0.0"
      upper="3.1067"
      effort="108"
      velocity="2.1416" />
  </joint>
  <link
    name="Link2_R">
    <inertial>
      <origin
        xyz="0.00013483 0.06170460 0.00950639"
        rpy="0 0 0" />
      <mass
        value="2.24398" />
      <inertia
        ixx="0.01194933"
        ixy="0.00000336"
        ixz="0.00000091"
        iyy="0.00361581"
        iyz="-0.00132804"
        izz="0.01098356" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link2_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link2_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2_R"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.570796327 1.570796327 0" />
    <parent
      link="Link1_R" />
    <child
      link="Link2_R" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0.0"
      upper="1.570796327"
      effort="108"
      velocity="2.1416" />
  </joint>
  <link
    name="Link3_R">
    <inertial>
      <origin
        xyz="0.00588308 0.00079656 -0.11435153"
        rpy="0 0 0" />
      <mass
        value="2.24598712" />
      <inertia
        ixx="0.02297472"
        ixy="0.00002807"
        ixz="0.00155392"
        iyy="0.02333711"
        iyz="0.00021547"
        izz="0.00260810" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link3_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link3_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3_R"
    type="revolute">
    <origin
      xyz="0 0.4 0"
      rpy="-1.570796327 1.570796327 0" />
    <parent
      link="Link2_R" />
    <child
      link="Link3_R" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.58"
      upper="1.5359"
      effort="66"
      velocity="3.1416" />
  </joint>
  <link
    name="Link4_R">
    <inertial>
      <origin
        xyz="0.00850411 -0.04718223 0.00941509"
        rpy="0 0 0" />
      <mass
        value="1.6085" />
      <inertia
        ixx="0.00580480"
        ixy="-0.00066669"
        ixz="-0.00012722"
        iyy="0.00223807"
        iyz="0.00070523"
        izz="0.00533060" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link4_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link4_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4_R"
    type="revolute">
    <origin
      xyz="0.018 0 0"
      rpy="-1.570796327 0 3.1416" />
    <parent
      link="Link3_R" />
    <child
      link="Link4_R" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0.0"
      upper="2.5307"
      effort="66"
      velocity="2.1416" />
  </joint>
  <link
    name="Link5_R">
    <inertial>
      <origin
        xyz="-0.00051127 -0.00101064 -0.11271739"
        rpy="0 0 0" />
      <mass
        value="2.0883" />
      <inertia
        ixx="0.00626603"
        ixy="0.00004009"
        ixz="-0.00005338"
        iyy="0.00564387"
        iyz="0.00006193"
        izz="0.00243632" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link5_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link5_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint5_R"
    type="revolute">
    <origin
      xyz="0.018 -0.314 0"
      rpy="-1.570796327 0 3.1416" />
    <parent
      link="Link4_R" />
    <child
      link="Link5_R" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1067"
      upper="3.1067"
      effort="18"
      velocity="3.1416" />
  </joint>
  <link
    name="Link6_R">
    <inertial>
      <origin
        xyz="-0.00032659 0.00531336 0.00030182"
        rpy="0 0 0" />
      <mass
        value="0.72496" />
      <inertia
        ixx="0.00046040"
        ixy="-0.00000189"
        ixz="0.00000083"
        iyy="0.00051716"
        iyz="0.00000346"
        izz="0.00042521" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link6_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link6_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint6_R"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.570796327 -1.570796327 0" />
    <parent
      link="Link5_R" />
    <child
      link="Link6_R" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.0472"
      upper="1.0472"
      effort="18"
      velocity="3.1416" />
  </joint>
  <link
    name="Link7_R">
    <inertial>
      <origin
        xyz="-0.00009108 -0.03153255 0.00889371"
        rpy="0 0 0" />
      <mass
        value="0.68606" />
      <inertia
        ixx="0.00173687"
        ixy="-0.00000345"
        ixz="-0.00000116"
        iyy="0.00089035"
        iyz="0.00030680"
        izz="0.00139406" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link7_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="Link7_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint7_R"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.570796327 -1.570796327 0" />
    <parent
      link="Link6_R" />
    <child
      link="Link7_R" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.570796327"
      upper="1.570796327"
      effort="18"
      velocity="3.1416" />
  </joint>
  <link
    name="TCP_Link_R">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.01" />
      <inertia
        ixx="0.00001"
        ixy="0"
        ixz="0"
        iyy="0.00001"
        iyz="0"
        izz="0.00001" />
    </inertial>
  </link>
  <joint
    name="JointTCP_R"
    type="fixed">
    <origin
      xyz="0 -0.095 0"
      rpy="1.570796327 -1.570796327 0" />
    <parent
      link="Link7_R" />
    <child
      link="TCP_Link_R" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
